<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19</title>
    
</head>
<body>
    
    <h1><%= countryName %> Covid Info</h1>

    <form action="/country" method="post" class="item">
        <input type="text" name="countryName" placeholder="Country"  >
        <button type="submit" name="list" >Go</button>
    </form>
    <div>
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        //include script for chart.js and get data from app.js (x axis and y axis data)
        //connect this to country.ejs

        //this is to extract x-axis and y-axis data

        const labelsList= '<%= xAxis %>';
        const finalx=labelsList.split(",");

        const dataList='<%= yAxis %>'
        const finaly=dataList.split(",");
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:finalx,
                datasets: [{
                    label: 'Total Cases',
                    data: finaly,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


    <!-- <script src="/trial.js"></script> -->

</body>
</html>